node_modules/
dist/
.DS_Store
**/node_modules/
**/dist/
.next/
build/
.cache/
*.log
**/dist/
**/.next/
**/.cache/
.npm-cache/
.vscode/
target/
.env
.env.local
.env.prod


**/.next/
**/dist/
**/.cache/
